<div class="container">
  <div class="row">
    <div class="col-sm-12 container-footer">
      Based on <a href="http://emberaddons.com">Ember Addons</a> by <a href="http://twitter.com/gcollazo">@gcollazo</a> of <a href="http://www.blimp.io/">Blimp</a>. Modified by <a href="http://twitter.com/kerry350">@Kerry350</a>; sponsored by <a href="http://twitter.com/pootsbook">@pootsbook</a>.
    </div>
  </div>
</div>
